  <header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">
            <div class="menu-extras topbar-custom">
                <ul class="float-right list-unstyled mb-0 ">
                    <li class="dropdown notification-list">
                        <div class="dropdown notification-list nav-pro-img">
                            <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="public/assets/images/users/user-4.jpg" alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <a class="dropdown-item" href="/"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="logout"><i class="mdi mdi-power text-danger"></i> Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title"><%= title %></h4>
                    <ol class="breadcrumb"></ol>
                    <div class="state-information">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
                <ul class="navigation-menu">

                    <li class="has-submenu">
                        <a href="/">
                            <i class="ti-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="has-submenu">
                        <a href="lights"><i class="ti-email"></i>Lights</a>
                        <ul class="submenu">
                            <li><a href="email-inbox">Inbox</a></li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="sensors"><i class="ti-receipt"></i>Sensors</a>
                        <ul class="submenu">
                            <li><a href="form-elements">Elements</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div> 
    </div> 

