<%- contentFor('HeaderCss') %>
<!-- perticular page css -->

<%- contentFor('body') %>

<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
 
            <div class="col-xl-4 col-lg-6">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title mb-3">Lights</h4>
                        <div class="inbox-wid">
                            <a href="#" class="text-dark">
                                <div class="inbox-item">
                                    <div class="inbox-item-img float-left mr-3"><img src="public/assets/images/users/user-1.jpg" class="thumb-md rounded-circle" alt=""></div>
                                    <h6 class="inbox-item-author mt-0 mb-1">Light1</h6>
                                    <p class="inbox-item-text text-muted mb-0">Light1</p>
                                </div>
                            </a>
                            <a href="#" class="text-dark">
                                <div class="inbox-item">
                                    <div class="inbox-item-img float-left mr-3"><img src="public/assets/images/users/user-2.jpg" class="thumb-md rounded-circle" alt=""></div>
                                    <h6 class="inbox-item-author mt-0 mb-1">Light2</h6>
                                    <p class="inbox-item-text text-muted mb-0">Light2</p>
                                </div>
                            </a>
                            <a href="#" class="text-dark">
                                <div class="inbox-item">
                                    <div class="inbox-item-img float-left mr-3"><img src="public/assets/images/users/user-3.jpg" class="thumb-md rounded-circle" alt=""></div>
                                    <h6 class="inbox-item-author mt-0 mb-1">Light3</h6>
                                    <p class="inbox-item-text text-muted mb-0">Light3</p>
                                </div>
                            </a> 
                        </div>  
                    </div>
                </div>

            </div>

            <div class="col-xl-4 col-lg-6">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title mb-3">Switches</h4>
                        <div class="inbox-wid">
                            <a href="#" class="text-dark">
                                <div class="inbox-item">
                                    <div class="inbox-item-img float-left mr-3"><img src="public/assets/images/users/user-1.jpg" class="thumb-md rounded-circle" alt=""></div>
                                    <h6 class="inbox-item-author mt-0 mb-1">Switch1</h6>
                                    <p class="inbox-item-text text-muted mb-0">Switch1</p>
                                </div>
                            </a>
                            <a href="#" class="text-dark">
                                <div class="inbox-item">
                                    <div class="inbox-item-img float-left mr-3"><img src="public/assets/images/users/user-2.jpg" class="thumb-md rounded-circle" alt=""></div>
                                    <h6 class="inbox-item-author mt-0 mb-1">Switch2</h6>
                                    <p class="inbox-item-text text-muted mb-0">Switch2</p>
                                </div>
                            </a>
                            <a href="#" class="text-dark">
                                <div class="inbox-item">
                                    <div class="inbox-item-img float-left mr-3"><img src="public/assets/images/users/user-3.jpg" class="thumb-md rounded-circle" alt=""></div>
                                    <h6 class="inbox-item-author mt-0 mb-1">Switch3</h6>
                                    <p class="inbox-item-text text-muted mb-0">Switch3</p>
                                </div>
                            </a> 
                        </div>  
                    </div>
                </div>

            </div>

            <div class="col-xl-4 col-lg-6">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title mb-3">Sensors</h4>
                        <div class="inbox-wid">
                            <a href="#" class="text-dark">
                                <div class="inbox-item">
                                    <div class="inbox-item-img float-left mr-3"><img src="public/assets/images/users/user-1.jpg" class="thumb-md rounded-circle" alt=""></div>
                                    <h6 class="inbox-item-author mt-0 mb-1">Sensor1</h6>
                                    <p class="inbox-item-text text-muted mb-0">Sensor1</p>
                                </div>
                            </a>
                            <a href="#" class="text-dark">
                                <div class="inbox-item">
                                    <div class="inbox-item-img float-left mr-3"><img src="public/assets/images/users/user-2.jpg" class="thumb-md rounded-circle" alt=""></div>
                                    <h6 class="inbox-item-author mt-0 mb-1">Sensor2</h6>
                                    <p class="inbox-item-text text-muted mb-0">Sensor2</p>
                                </div>
                            </a>
                            <a href="#" class="text-dark">
                                <div class="inbox-item">
                                    <div class="inbox-item-img float-left mr-3"><img src="public/assets/images/users/user-3.jpg" class="thumb-md rounded-circle" alt=""></div>
                                    <h6 class="inbox-item-author mt-0 mb-1">Sensor3</h6>
                                    <p class="inbox-item-text text-muted mb-0">Sensor3</p>
                                </div>
                            </a> 
                        </div>  
                    </div>
                </div>

            </div>

        </div>

    </div> 
</div>
                <%- contentFor('FooterJs') %>
<script src="public/plugins/morris/morris.min.js"></script>
<script src="public/plugins/raphael/raphael-min.js"></script>
<script src="public/assets/pages/dashboard.js"></script>




